*{
    margin: 0%;
    padding: 0%;
    
}


img {
    animation-name: codewithME;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
 
@keyframes codewithME{
    0%{
        
    }

}
