*{
    margin: 0%;
    padding: 0%;

}

.fast{
    padding: 40px;

}
img{
    animation-name: abhishek;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes abhishek {
    0%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(90deg);
    }
    180%{
        transform: rotate(180deg);
    }
    360%{
        transform: rotate(360deg);
    }
}