*{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
}
.conta{
    padding: 50px;
}
.conta{
    gap: 20px;
}

.conta>.button{
  padding: 20px;

}
#grey{
    background-color: grey;
}
#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;

}