*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#maincontainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

.card-div >img{
    width: 70%;
    height: 300px;
}
